div.transparentbox {
	margin: 30px;
	background-color: black;
	border: 1px solid black;
	opacity: 0.7;
	filter: alpha(opacity = 60); /* For IE8 and earlier */
}

.sideimgage {
	width: 100%;
}

.teamimage {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}

.teamtext {
	vertical-align: top;
	padding: 10px;
	width: 75%;
	display: inline-block;
}

.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid white;
	border-radius: 100% !important;
	font-size: 40px;
	color: white;
	background: transparent;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

.btn-circle:hover, .btn-circle:focus {
	outline: none;
	color: white;
	background: rgba(255, 255, 255, 0.1);
}

.btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}

.bg-white {
	color: black;
	background-color: white;
}

.text-black-faded {
	color: rgba(0, 0, 0, 0.7);
}

footer {
	background-color: #222222;
	padding: 10px 0;
	color: rgba(255, 255, 255, 0.3);
	text-align: center;
}

footer p {
	font-size: 12px;
	margin: 0;
}

/*#################### Navbar start #################### */
.navbar-default {
	background-color: white;
	border-color: rgba(34, 34, 34, 0.05);
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-default .navbar-header .navbar-brand {
	color: #F05F40;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus
	{
	color: #eb3812;
}

.navbar-default .navbar-header .navbar-toggle {
	font-weight: 700;
	font-size: 12px;
	color: #222222;
	text-transform: uppercase;
}

.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	color: #222222;
}

.navbar-default .nav>li>a:hover, .navbar-default .nav>li>a:focus:hover {
	color: #F05F40;
}

.navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus
	{
	color: #F05F40 !important;
	background-color: transparent;
}

.navbar-default .nav>li.active>a:hover, .navbar-default .nav>li.active>a:focus:hover
	{
	background-color: transparent;
}

@media ( min-width : 768px) {
	.navbar-default {
		background-color: transparent;
		border-color: rgba(255, 255, 255, 0.3);
	}
	.navbar-default .navbar-header .navbar-brand {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus
		{
		color: white;
	}
	.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .nav>li>a:hover, .navbar-default .nav>li>a:focus:hover {
		color: white;
	}
	.navbar-default.affix {
		background-color: white;
		border-color: rgba(34, 34, 34, 0.05);
	}
	.navbar-default.affix .navbar-header .navbar-brand {
		color: #F05F40;
		font-size: 14px;
	}
	.navbar-default.affix .navbar-header .navbar-brand:hover,
		.navbar-default.affix .navbar-header .navbar-brand:focus {
		color: #eb3812;
	}
	.navbar-default.affix .nav>li>a, .navbar-default.affix .nav>li>a:focus {
		color: #222222;
	}
	.navbar-default.affix .nav>li>a:hover, .navbar-default.affix .nav>li>a:focus:hover
		{
		color: #F05F40;
	}
}

/* /*#################### Navbar end #################### */

/*#################### footer start #################### */
footer a {
	color: #333333;
	font-size: 20px;
}

footer p {
	font-size: 12px;
	margin: 0;
	line-height: 1.5;
}

/* #################### footer end #################### */
.firstchar {
	display: block;
	float: left;
	margin: 5px 15px 15px 0;
	text-align: center;
	font-size: 125px;
	line-height: 125px;
	width: 125px;
	height: 125px;
	color: white;
	background-color: #333333;
}

.articlearrow {
    bottom: 30px;
    cursor: pointer;
    font-size: 30px;
    line-height: 1;
    position: absolute;
    right: 30px;
/*     z-index: 4; */
}